[mysqld]
skip-host-cache
skip-name-resolve

character-set-server = utf8
collation-server = utf8_bin
default-storage-engine = INNODB
innodb_log_file_size = 1GB
transaction-isolation = READ-COMMITTED
binlog_format = row

[mysqldump]
quick
quote-names
max_allowed_packet = 256M

